@{
    ViewData["Title"] = "PassUsingViewBag";
}

<div class="text-left">
    <h1 style="font-size:35px; color:#333333">Pass Using View Bag</h1>
</div>

<p class="font-weight-bold m-0">Rand Value First : @ViewBag.FirstNumber</p>
<p class="font-weight-bold m-0">Rand Value Second : @ViewBag.SecondNumber</p>
<p class="font-weight-bold m-0">Add :</p>
<p class="m-0">@ViewBag.FirstNumber + @ViewBag.SecondNumber = @ViewBag.Sum  </p>
<p class="font-weight-bold m-0">Sub :</p>
<p class="m-0">@ViewBag.FirstNumber - @ViewBag.SecondNumber = @ViewBag.Difference   </p>
<p class="font-weight-bold m-0">Mult :</p>
<p class="m-0">@ViewBag.FirstNumber * @ViewBag.SecondNumber = @ViewBag.Product   </p>
<p class="font-weight-bold m-0">Div :</p>
<p class="m-0">@ViewBag.FirstNumber / @ViewBag.SecondNumber = @ViewBag.Quotient   </p>
